<html>
    <head>
        <meta charset="utf-8">
        
        <link rel="stylesheet" type="text/css" href="/static/index.css">
    </head>

    <body class="body">
        <!--  cod base  -->
                    <!--    =-=-=-=-=-=-=-=-=   cabecalho  =-=-=-=-=-=-=-=-=     -->
        <!-- <img src="imagens/icone.png"  alt=""> -->
        <div class="header">

            <div class="slogan">
                
                Fimas estacionamentos e vagas

            </div>
            
        </div>
        
        <div class="site">

    <!--    =-=-=-=-=-=-=-=-=   logo  =-=-=-=-=-=-=-=-=     -->

            <div class="left-bar" > 
                <!-- <div class="trade-mark"><img src="/static/images/1.jpeg" alt=""></div>     temporario               -->


    <!--    =-=-=-=-=-=-=-=-=  Left-bar   =-=-=-=-=-=-=-=-=     -->

        <!-- colocar os hrefs menu -->

                <div class="menu">
                    <div class="menu_option"><a href="/login/login_form">Login</a></div>

                    <div class="menu_option" ><a href="/pagina_inicial/pag_inicial">Pagina inicial</a></div>

                    <div class="menu_option"><a href="/servico/registro_form">Registrar serviço</a></div>

                    <div class="menu_option"><a href="/vagas/index_vagas">vagas disponiveis</a></div>

                    <div class="menu_option"><a href="/servico/registro_list">Listar serviços</a></div>


                </div>


            </div>



    <!--    =-=-=-=-=-=-=-=-=  lugar p colocar os blocks content   =-=-=-=-=-=-=-=-=     -->

            <div class="site_content" id="content">

                {% block content %} 

                <ul>
                    <div class="trade-mark"><img src="/static/images/1.jpeg" alt=""></div>   
                    <br>
                    Um assistente de estacionamento inteligente capaz de detectar sua vaga para seu carro                 
                </ul>
                

                {% endblock %}
        
            </div>

                    <!--    =-=-=-=-=-=-=-=-=     =-=-=-=-=-=-=-=-=     -->
        </div>



</html>