{% extends "index.html" %}
{% block content %}
<div class="first_page">
    <img src="/static/images/1.png" alt="">
    <div class="first_page_text">um texto esplicando alguma coisa do projeto e tals</div>
</div>   
<br>
<div class="about">
    <div class="about_text">
        <!--    slick-slider??     -->
        <br>
        <h1>Sobre</h1>__<br><br>  
        Um assistente de estacionamento inteligente<br>
        capaz de detectar sua vaga para seu carro<br>
    </div>
</div>
<div class="join">
    <div class="join_text"><h2>assinar o serviçio?</h2> <br> </div>
    <button class="join_button">assinar</button>
</div>
{% endblock %}
